.inputContainer{
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    width: 45%;
    position: relative;

    label{
        font-size: .9rem;
        background-color: #fff;
        padding: 0 5px;
        color: #000;
        position: absolute;
        font-weight: 500;
        top: -10px;
        left: 10px;
    }

    input{
        border: 1px solid rgba(224, 224, 224, 1);
        border-radius: .3rem;
        background: none;
        padding: .8rem 1em;
        flex: 1;
        font-size: 1rem;
        color: #090833;
    }
    
    button{
        height: auto;
        border: none;
        background-color: #090833;
        border-radius: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        .icon{
            color: #fff;
        }
    }

    button:hover{
        transform: scale(1.05);
    }

}