.container{
    width: 80%;
    background-color: #f1f1ee;
    border-radius: 1rem;
    padding: 1rem;
    margin: 3vh auto;
    display: flex;
    flex-direction: column;
    gap: 2vh;

    .title{
        margin: 0;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .icon{
        font-size: 1.5rem;
        cursor: pointer;
    }

    .userFieldsContainer{        
        display: flex;
        flex-direction: column;
        gap: 2vh;

        h4{
            margin: 1vh 0 0 0;
        }
    }

    .buttonRegister{
        width: 20vw;
        margin: 2vh auto 0 auto;
        height: 5vh;
        font-size: 1.1rem;
        border: none;
        border-radius: 1.5rem;
        background: #87ab69;
        color: #fff;
        cursor: pointer;
    }
}
